.Artist-content {
  flex: 1;
  padding: 20px;
  margin-top: 84px;
  min-height: 150vh;
}
.artist-listing__blocks {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: green;
}

.title {
  font-size: 2rem;
  text-align: center;
  color: black;
}

.Details-content {
  flex: 1;
  padding: 20px;
  margin-top: 84px;
}

.link-header {
  color: white;
  background-color: deeppink;
  padding: 0.3rem;
}

a {
  text-decoration: none;
}
